body {
    margin: 0px;
    padding: 0px;
}


header {
    padding: 50px;
    background-color: blue;
    text-align: center;
    color: white;
}


nav {

    display: flex;
    flex-direction: row;
    background-color: gray;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row {

    display: flex;
    flex-direction: column;
    
}


aside {
    padding: 20px;
    /* flex: 10%; */
    background-color: red;
    text-align: center;
    
}

section {
    padding: 20px;
    /* flex: 80%; */
    background-color: yellow;
    height: 400px;
    text-align: center;

    
}

.aside2 {
    
    padding: 20px;
    /* flex: 10%; */
    background-color: green;
    text-align: center;
}


footer {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;

}


@media screen and (min-width: 600px) {

    .row {
        display: flex;
        flex-direction: row;
    
    }

    aside {

        flex: 10%;

    }

    section {

        flex: 80%;

    }

    .aside2 {


        flex: 10%;

    }


}